
body {
    position: relative;
    font-family: Arial;
    margin: 0px;
    box-sizing: border-box;
  }

header {
    width: 100%;
    padding: 80px;
    background-color:rgb(110, 214, 110);
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

header h1 {
    color: white;
    text-align: center;
}

nav {
   margin-right: 100px;
}


header nav ul {
    list-style-type: none;
    display: flex;
}

header nav li {
    color: white;
    margin: 20px;
}

main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 60px;
}

main div {
   flex: 25%;
}

main img {
    height: 600px;
    width: 450px;
    filter: drop-shadow(60px 120px 30px grey);
}

.shoe:hover img {
    height: 630px;
    width: 480px;
}

aside {
    flex: 25%;
    padding: 60px;
    background-color: yellow;
}

}

@media (max-width: 800px) {
    main {
      flex: 100%;
    }
  }


